[submodule "Vendor/AFNetworking"]
	path = Vendor/AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
[submodule "Vendor/JSONKit"]
	path = Vendor/JSONKit
	url = https://github.com/johnezang/JSONKit.git
[submodule "Vendor/SMXMLDocument"]
	path = Vendor/SMXMLDocument
	url = https://github.com/nfarina/xmldocument
[submodule "Vendor/JMNoise"]
	path = Vendor/JMNoise
	url = https://github.com/jasonmorrissey/JMNoise.git
