[submodule "Vendor/AFNetworking"]
	path = Vendor/AFNetworking
	url = git://github.com/gowalla/AFNetworking.git
[submodule "Vendor/JSONKit"]
	path = Vendor/JSONKit
	url = https://github.com/johnezang/JSONKit.git
[submodule "Vendor/SMXMLDocument"]
	path = Vendor/SMXMLDocument
	url = https://github.com/nfarina/xmldocument
