<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1.inbound.title</key>
	<string>Dudley Station via Mass. Ave.</string>
	<key>1.outbound.title</key>
	<string>Harvard Station via Mass. Ave.</string>
	<key>57.inbound.title</key>
	<string>Kenmore Station via Brighton</string>
	<key>57.outbound.title</key>
	<string>Watertown Yard via Brighton</string>
	<key>65.inbound.title</key>
	<string>Kenmore Station via Washington St.</string>
	<key>65.outbound.title</key>
	<string>Brighton Center via Washington St.</string>
	<key>66.inbound.title</key>
	<string>Dudley Station via Allston</string>
	<key>66.outbound.title</key>
	<string>Harvard Square via Allston</string>
	<key>86.inbound.title</key>
	<string>Cleveland Circle via Harvard</string>
	<key>86.outbound.title</key>
	<string>Sullivan Station via Harvard</string>
	<key>501.inbound.title</key>
	<string>Downtown via Mass. Pike</string>
	<key>501.outbound.title</key>
	<string>Brighton via Mass. Pike</string>
	<key>502.inbound.title</key>
	<string>Copley Square via Newton Corner &amp; Mass. Pike</string>
	<key>502.outbound.title</key>
	<string>Watertown via Newton Corner &amp; Mass. Pike</string>
	<key>503.inbound.title</key>
	<string>Copley Square via Oak Square &amp; Mass. Pike</string>
	<key>503.outbound.title</key>
	<string>Brighton Center via Mass. Pike &amp; Cambridge St.</string>
	<key>504.inbound.title</key>
	<string>Downtown via Copley Square &amp; Newton Corner &amp; Mass. Pike</string>
	<key>504.outbound.title</key>
	<string>Watertown via Copley Square &amp; Newton Corner &amp; Mass. Pike</string>
</dict>
</plist>
