<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<string>Harvard/Holyoke Gate - Dudley Staton via Mass. Ave.</string>
	<key>4</key>
	<string>North Station - World Trade Center via Federal Courthouse &amp; South Station</string>
	<key>5</key>
	<string>City Point - McCormack Housing via Andrew Station</string>
	<key>7</key>
	<string>City Point - Otis &amp; Summer Streets via Summer Street &amp; South Station</string>
	<key>8</key>
	<string>Harbor Point/UMass - Kenmore Station via B.U. Medical Center &amp; Dudley Station</string>
	<key>9</key>
	<string>City Point - Copley Square via Broadway Station</string>
	<key>10</key>
	<string>City Point - Copley Square via Andrew Station &amp; B.U. Medical Center </string>
	<key>11</key>
	<string>City Point - Downtown BayView Route </string>
	<key>14</key>
	<string>Roslindale Sq. - Heath Street via Dudley Sta., Grove Hall &amp; Jackson Square Station </string>
	<key>15</key>
	<string>Kane Sq. or Fields Corner Sta. - Ruggles Sta. via Uphams Corner </string>
	<key>16</key>
	<string>Forest Hills Station - Andrew Station or UMass via Columbia Road </string>
	<key>17</key>
	<string>Fields Corner Station - Andrew Station via Uphams Corner &amp; Edward Everett Square </string>
	<key>18</key>
	<string>Ashmont Station - Andrew Station via Fields Corner Station</string>
	<key>19</key>
	<string>Fields Corner Sta. - Kenmore or Ruggles Sta. via Grove Hall &amp; Dudley Station</string>
	<key>21</key>
	<string>Ashmont Sta. - Forest Hills Sta. via Morton St. </string>
	<key>22</key>
	<string>Ashmont Sta. - Ruggles Sta. via Talbot Ave. &amp; Jackson Sq. </string>
	<key>23</key>
	<string>Ashmont Sta. - Ruggles Sta. via Washington St.</string>
	<key>24</key>
	<string>Wakefield Ave. &amp; Truman Highway - Mattapan or Ashmont Sta. via River Street </string>
	<key>26</key>
	<string>Ashmont Sta. - Norfolk &amp; Morton Belt Line</string>
	<key>27</key>
	<string>Mattapan Sta. - Ashmont Sta. via River St. </string>
	<key>2427</key>
	<string>Wakefield Ave. &amp; Truman Highway - Mattapan or Ashmont Sta. via River Street or Mattapan Sta. - Ashmont Sta. via River St.</string>
	<key>28</key>
	<string>Mattapan Sta. - Ruggles Sta. via Dudley Sta.</string>
	<key>29</key>
	<string>Mattapan Sta. - Jackson Sq., Sta. via Seaver St. &amp; Columbus Ave.</string>
	<key>30</key>
	<string>Mattapan Sta. - Forest Hills Sta. via Cummins Highway &amp; Roslindale Sq.</string>
	<key>31</key>
	<string>Mattapan Sta. - Forest Hills Sta. via Morton St.</string>
	<key>32</key>
	<string>Wolcott Sq. or Cleary Sq. - Forest Hills Sta. via Hyde Park Ave. </string>
	<key>33</key>
	<string>Dedham Line - Mattapan Sta. via River St.</string>
	<key>3233</key>
	<string>Wolcott Sq. or Cleary Sq. - Forest Hills Sta. via Hyde Park Ave. or Dedham Line - Mattapan Sta. via River St.</string>
	<key>34</key>
	<string>Walpole Center or Dedham Line - Forest Hills Sta. via Washington St.</string>
	<key>34E</key>
	<string>Walpole Center or Dedham Line - Forest Hills Sta. via Washington St. </string>
	<key>35</key>
	<string>Dedham Mall/Stimson St. - Forest Hills Station via Belgrade Ave. &amp; Centre St. </string>
	<key>36</key>
	<string>Charles River Loop or V.A. Hospital - Forest Hills Sta. via Belgrade Ave. &amp; Centre St. </string>
	<key>37</key>
	<string>Baker &amp; Vermont Sts. - Forest Hills Sta. via Belgrade Ave. &amp; Centre St. </string>
	<key>38</key>
	<string>Wren St. - Forest Hills Sta. via Centre &amp; South Streets</string>
	<key>3738</key>
	<string>Baker &amp; Vermont Sts. - Forest Hills Station</string>
	<key>39</key>
	<string>Forest Hills Sta. - Back Bay Sta. via Huntington Ave.</string>
	<key>40</key>
	<string>Georgetowne - Forest Hills Sta. via Washington St. &amp; West Boundary Rd.</string>
	<key>41</key>
	<string>Centre &amp; Eliot Sts. - JFK/UMass Station via Dudley Sta., Centre St. &amp; Jackson Sq. Sta. </string>
	<key>42</key>
	<string>Forest Hills Sta. - Dudley or Ruggles Sta. via Washington St.</string>
	<key>43</key>
	<string>Ruggles Station - Park &amp; Tremont Sts. via Tremont St.</string>
	<key>44</key>
	<string>Jackson Sq. Sta. - Ruggles Sta. via Seaver St. &amp; Humboldt Ave.</string>
	<key>45</key>
	<string>Franklin Park Zoo - Ruggles Sta. via Blue Hill Ave.</string>
	<key>47</key>
	<string>Central Sq., Cambridge - Broadway Station via B.U. Medical Center, Dudley Station &amp; Longwood Medical Area</string>
	<key>48</key>
	<string>Jamaica Plain Loop Monument - Jackson Square Station via Green Street &amp; Stony Brook Stations</string>
	<key>50</key>
	<string>Cleary Square - Forest Hills Station via Roslindale Square</string>
	<key>51</key>
	<string>Cleveland Circle - Forest Hills Sta. via Hancock Village</string>
	<key>52</key>
	<string>Dedham Mall or Charles River Loop - Watertown Yard via Oak Hill &amp; Newton Center</string>
	<key>55</key>
	<string>Jersey &amp; Queensberry - Copley Sq. or Park &amp; Tremont Sts. via Ipswich St.</string>
	<key>57</key>
	<string>Watertown Yard - Kenmore Sta. via Newton Corner &amp; Brighton Center</string>
	<key>57A</key>
	<string>Watertown Yard- Oak Square &amp; Brighton Center</string>
	<key>59</key>
	<string>Needham Junction - Watertown Sq. via Newtonville</string>
	<key>60</key>
	<string>Chestnut Hill - Kenmore Station via Brookline Village &amp; Cypress St.</string>
	<key>62</key>
	<string>Bedford V.A. Hospital - Alewife Station via Lexington Center &amp; Arlington Heights</string>
	<key>64</key>
	<string>Oak Square - University Park, Cambridge or Kendall/MIT via North Beacon St.</string>
	<key>65</key>
	<string>Brighton Center - Kenmore Sta. via Washington St., Brookline Village &amp; Brookline Ave.</string>
	<key>66</key>
	<string>Harvard Square - Dudley Station via Allston &amp; Brookline Village</string>
	<key>627</key>
	<string>Bedford V.A. Hospital - Alewife Station via Lexington Center &amp; Arlington Heights</string>
	<key>67</key>
	<string>Turkey Hill - Alewife Station via Arlington Center</string>
	<key>68</key>
	<string>Harvard/Holyoke Gate - Kendall/M.I.T. via Broadway</string>
	<key>69</key>
	<string>Harvard/Holyoke Gate - Lechmere Sta. via Cambridge St.</string>
	<key>70</key>
	<string>Cedarwood, No. Waltham or Watertown Sq. - University Park via Central Sq., Cambridge, Arsenal St. &amp; Western Ave.</string>
	<key>70A</key>
	<string>Cedarwood, No. Waltham or Watertown Sq. - University Park via Central Sq., Cambridge, Arsenal St. &amp; Western Ave.</string>
	<key>71</key>
	<string>Watertown Square - Harvard Station via Mt. Auburn St.</string>
	<key>72</key>
	<string>Huron Ave. - Harvard Station via Concord Ave.</string>
	<key>725</key>
	<string>Belmont Center - Harvard Station via Concord Ave.</string>
	<key>73</key>
	<string>Waverley Sq. - Harvard Station via Trapelo Road</string>
	<key>74</key>
	<string>Belmont Center - Harvard Station via Concord Ave.</string>
	<key>75</key>
	<string>Belmont Center - Harvard Station via Concord Ave.</string>
	<key>76</key>
	<string>Hanscom/Lincoln Labs - Alewife Station via Lexington Center &amp; Civil Air Terminal</string>
	<key>77</key>
	<string>Arlington Heights - Harvard Station via Massachusetts Ave.</string>
	<key>78</key>
	<string>Arlmont Village - Harvard Station via Park Circle </string>
	<key>79</key>
	<string>Arlington Heights - Alewife Station via Massachusetts Ave.</string>
	<key>80</key>
	<string>Arlington Center - Lechmere Station via Medford Hillside</string>
	<key>83</key>
	<string>Rindge Ave. - Central Sq., Cambridge via Porter Square Station</string>
	<key>84</key>
	<string>Arlmont Village - Alewife Station</string>
	<key>85</key>
	<string>Spring Hill - Kendall/M.I.T. Station via Summer St. &amp; Union Sq.</string>
	<key>86</key>
	<string>Sullivan Sq. Sta. - Reservoir (Cleveland Circle) via Harvard/Johnston Gate</string>
	<key>87</key>
	<string>Arlington Center or Clarendon Hill - Lechmere Station via Somerville Ave.</string>
	<key>88</key>
	<string>Clarendon Hill - Lechmere Station via Highland Avenue</string>
	<key>89</key>
	<string>Clarendon Hill or Davis Square - Sullivan Square Station via Broadway</string>
	<key>8993</key>
	<string>Clarendon Hill or Davis Square - Sullivan Square Station via Broadway</string>
	<key>90</key>
	<string>Davis Square - Wellington Station via Sullivan Square Station &amp; Assembly Mall</string>
	<key>91</key>
	<string>Sullivan Sq. Sta. - Central Sq., Camb. via Washington St.</string>
	<key>92</key>
	<string>Assembly Sq. Mall - Downtown via Sullivan Sq. Sta., Main St. &amp; Haymarket Sta.</string>
	<key>93</key>
	<string>Sullivan Sq. Sta. - Downtown via Bunker Hill St. &amp; Haymarket Sta.</string>
	<key>94</key>
	<string>Medford Square - Davis Sq. Station via W. Medford &amp; Medford Hillside</string>
	<key>95</key>
	<string>West Medford - Sullivan Sq. Sta. via Mystic Ave.</string>
	<key>96</key>
	<string>Medford Sq. - Harvard Station via George St. &amp; Davis Sq. Sta.</string>
	<key>97</key>
	<string>Malden Center Sta. - Wellington Sta. via Commercial &amp; Hancock Sts.</string>
	<key>99</key>
	<string>Boston Regional Medical Center- Wellington Station via Main St. &amp; Malden Center Station</string>
	<key>100</key>
	<string>Elm St. - Wellington Station via Fellsway</string>
	<key>101</key>
	<string>Malden Center Station - Sullivan Square Station via Salem St., Main St. &amp; Broadway </string>
	<key>104</key>
	<string>Malden Center Station - Sullivan Square Station via Ferry St. &amp; Broadway</string>
	<key>105</key>
	<string>Malden Center Station - Sullivan Square Station via Newland St. Housing </string>
	<key>106</key>
	<string>Lebanon St., Malden or Franklin Sq. - Wellington Sta. via Main St.</string>
	<key>108</key>
	<string>Linden Square - Wellington Station via Malden Center Station &amp; Highland Ave. </string>
	<key>109</key>
	<string>Linden Square - Sullivan Square Station via Glendale Square</string>
	<key>110</key>
	<string>Wonderland or Broadway &amp; Park Ave. - Wellington Station via Park Ave., &amp; Woodlawn</string>
	<key>111</key>
	<string>Woodlawn or Broadway &amp; Park Ave. - Haymarket Station via Mystic River/Tobin Bridge</string>
	<key>112</key>
	<string>Wellington Sta. - Wood Island Sta. via Central Ave., Mystic Mall &amp; Admiral&apos;s Hill</string>
	<key>114</key>
	<string>Bellingham Square - Maverick Station</string>
	<key>116</key>
	<string>Wonderland Station - Maverick Station via Revere Street </string>
	<key>117</key>
	<string>Wonderland Station - Maverick Station via Beach St.</string>
	<key>119</key>
	<string>Northgate - Beachmont Station via Revere Center &amp; Cooledge Housing</string>
	<key>120</key>
	<string>Orient Heights Station - Maverick Station via Bennington St., Jeffries Point &amp; Waldemar Loop</string>
	<key>121</key>
	<string>Wood Island Station - Maverick Station via Lexington Street</string>
	<key>131</key>
	<string>Melrose Highlands - Malden Center Station via Oak Grove Station</string>
	<key>132</key>
	<string>Redstone Shopping Center - Malden Station </string>
	<key>134</key>
	<string>North Woburn - Wellington Station via Woburn Sq., Winchester Ctr., Winthrop St., Medford Sq., Riverside Ave. &amp; Meadow Glen Mall</string>
	<key>136</key>
	<string>Reading Depot - Malden Station via Wakefield, Melrose &amp; Oak Grove Station</string>
	<key>137</key>
	<string>Reading Depot - Malden Station via North Ave, Wakefield, Melrose &amp; Oak Grove Station</string>
	<key>170</key>
	<string>Central Sq., Waltham – Dudley Square</string>
	<key>171</key>
	<string>Dudley Station - Logan Airport via Andrew Station</string>
	<key>201</key>
	<string>Fields Corner or No. Quincy Station - Fields Corner via Neponset Ave. to Adams St.</string>
	<key>202</key>
	<string>Fields Corner or No. Quincy Station - Fields Corner via Adams St. to Neponset Ave.</string>
	<key>210</key>
	<string>Quincy Center Sta. - No. Quincy Sta. or Fields Corner Station via Hancock St. &amp; Neponset Ave</string>
	<key>211</key>
	<string>Quincy Center Sta. - Squantum via Montclair &amp; No. Quincy Station</string>
	<key>212</key>
	<string>Quincy Center Sta. - North Quincy Sta. via Billings Road</string>
	<key>214</key>
	<string>Quincy Center Station - Germantown via Sea St. &amp; O&apos;Brien Towers</string>
	<key>215</key>
	<string>Quincy Center Sta. - Ashmont Sta. via W. Quincy &amp; E. Milton Sq.</string>
	<key>216</key>
	<string>Quincy Center Station - Houghs Neck via Sea Street</string>
	<key>217</key>
	<string>Quincy Center Station - Ashmont Station via Beale St., Wollaston, &amp; E. Milton Sq. </string>
	<key>220</key>
	<string>Quincy Center Station - Hingham Center via Fore River Bridge</string>
	<key>221</key>
	<string>Quincy Center Station - Fort Point via Bicknell Square</string>
	<key>222</key>
	<string>Quincy Center Station - East Weymouth via Bicknell Square</string>
	<key>225</key>
	<string>Quincy Center - Weymouth Landing via Quincy Ave. &amp; Shaw St. or Desmoines Road</string>
	<key>230</key>
	<string>Quincy Center Sta. - Montello Commuter Rail Station via Holbrook &amp; Braintree Station</string>
	<key>236</key>
	<string>Quincy Center Sta. - South Shore Plaza via E. Braintree &amp; Braintree Station</string>
	<key>238</key>
	<string>Quincy Center Station - Holbrook/Randolph Commuter Rail Sta.</string>
	<key>240</key>
	<string>Avon Square or Holbrook/Randolph Commuter Rail Sta. - Ashmont Sta. via Crawford Sq., Randolph</string>
	<key>245</key>
	<string>Quincy Center Sta. - Mattapan Sta. via Quincy Hospital &amp; Pleasant St.</string>
	<key>325</key>
	<string>Elm St., Medford - Haymarket Station via Fellsway West, Salem St. &amp; I-93</string>
	<key>326</key>
	<string>West Medford - Haymarket Station via Playstead Rd., High St., Medford &amp; I-93</string>
	<key>350</key>
	<string>North Burlington - Alewife Station via Burlington Mall</string>
	<key>351</key>
	<string>Oak Park/Bedford Woods - Alewife Station via Middlesex Turnpike</string>
	<key>352</key>
	<string>Burlington Express - Boston via Rte. 128 &amp; I-93</string>
	<key>354</key>
	<string>Woburn Express - Boston via Woburn Sq. &amp; I-93</string>
	<key>355</key>
	<string>Mishawum Station - Boston via W. Cummings Park &amp; I-93</string>
	<key>411</key>
	<string>Malden Center Station - Revere/Jack Satter House via Granada Highlands and Northgate</string>
	<key>424</key>
	<string>Eastern Ave. &amp; Essex St. - Haymarket Sta. or WonderlandSalem Depot - Haymarket Sta. or WonderlandSalem Depot - Central Sq., Lynn via Highland Ave.</string>
	<key>424W</key>
	<string>Eastern Ave. &amp; Essex St. - Haymarket Sta. or WonderlandSalem Depot - Haymarket Sta. or WonderlandSalem Depot - Central Sq., Lynn via Highland Ave.</string>
	<key>426</key>
	<string>Central Sq., Lynn - Haymarket Sta. via Cliftondale</string>
	<key>426W</key>
	<string>Central Sq., Lynn - Wonderland Sta. via Cliftondale Square</string>
	<key>428</key>
	<string>Oaklandvale - Haymarket Sta. via Granada Highlands</string>
	<key>429</key>
	<string>Northgate Shopping Center - Central Sq., Lynn via Linden Square &amp; Square One Mall</string>
	<key>430</key>
	<string>Saugus Center - Malden Center Station via Square One Mall</string>
	<key>431</key>
	<string>Neptune Towers - Central Sq., Lynn via Summer St.</string>
	<key>434</key>
	<string>Peabody - Haymarket EXPRESS via Goodwins Circle</string>
	<key>435</key>
	<string>Liberty Tree Mall - Central Sq., Lynn via Peabody Sq.</string>
	<key>436</key>
	<string>Liberty Tree Mall - Central Sq., Lynn via Goodwins Circle</string>
	<key>439</key>
	<string>Bass Point, Nahant -Central Sq., Lynn</string>
	<key>441</key>
	<string>Marblehead - Haymarket, Downtown Crossing or Wonderland via Central Square, Lynn &amp; Lynnway</string>
	<key>442</key>
	<string>Marblehead - Haymarket, Downtown Crossing or Wonderland via Central Square, Lynn &amp; Lynnway</string>
	<key>441442</key>
	<string>Marblehead - Haymarket, Downtown Crossing or Wonderland via Central Square, Lynn &amp; Lynnway</string>
	<key>448</key>
	<string>Marblehead - Downtown Crossing via Paradise Rd.or Humphrey St., Lynnway, &amp; Airport</string>
	<key>449</key>
	<string>Marblehead - Downtown Crossing via Paradise Rd. or Humphrey St., Lynnway, &amp; Airport</string>
	<key>450</key>
	<string>Eastern Ave. &amp; Essex St. - Haymarket Sta. or WonderlandSalem Depot - Haymarket Sta. or WonderlandSalem Depot - Central Sq., Lynn via Highland Ave.</string>
	<key>451</key>
	<string>North Beverly - Salem Depot via Cabot St. or Tozer Rd.</string>
	<key>455</key>
	<string>Salem Depot - Wonderland via Central Sq., Lynn</string>
	<key>456</key>
	<string>Eastern Ave. &amp; Essex St. - Haymarket Sta. or WonderlandSalem Depot - Haymarket Sta. or WonderlandSalem Depot - Central Sq., Lynn via Highland Ave.</string>
	<key>459</key>
	<string>Salem Depot - Downtown Crossing via Logan Airport &amp; Central Square, Lynn</string>
	<key>465</key>
	<string>Salem Depot - Liberty Tree Mall via Peabody &amp; Danvers</string>
	<key>468</key>
	<string>Salem Depot - Danvers Sq. via Peabody</string>
	<key>500</key>
	<string>EXPRESS BUS Riverside - Downtown via Mass. Turnpike</string>
	<key>501</key>
	<string>EXPRESS BUS Brighton Center - Downtown via Oak Sq., &amp; Mass. Turnpike</string>
	<key>502</key>
	<string>EXPRESS BUS Watertown Yard - Copley Sq. (St. James Ave. at Dartmouth St.) via Newton Corner &amp; Mass. Turnpike</string>
	<key>503</key>
	<string>EXPRESS BUS Brighton Center - Copley Sq. via Oak Sq. &amp; Mass. Turnpike</string>
	<key>504</key>
	<string>EXPRESS BUS Watertown/Newton Corner - Downtown via Mass. Turnpike</string>
	<key>505</key>
	<string>EXPRESS BUS Central Sq., Waltham - Downtown via Moody St. &amp; Mass. Turnpike</string>
	<key>553</key>
	<string>Roberts - Downtown Boston via Newton Corner &amp; Central Sq., Waltham</string>
	<key>554</key>
	<string>Roberts - Downtown Boston via Newton Corner &amp; Central Sq., WalthamWaverley Sq. - Downtown Boston via Newton Corner &amp; Central Sq., Waltham</string>
	<key>555</key>
	<string>EXPRESS BUS Riverside - Downtown Boston via Newton, Mass. Pike &amp; Copley Sq.</string>
	<key>556</key>
	<string>Waltham Highlands - Downtown Boston via Newton Corner &amp; Central Sq., Waltham &amp; Newtonville</string>
	<key>558</key>
	<string>Riverside - Downtown Boston via Newton Corner &amp; Turnpike</string>
	<key>701</key>
	<string>Central Square, Cambridge - B.U. Medical Center/Boston Medical Center via M.I.T.</string>
	<key>708</key>
	<string>Beth Israel Deaconess Medical Center - Andrew Station via B.U. Medical Center</string>
	<key>741</key>
	<string>Logan Airport - South Station via Waterfront</string>
	<key>747</key>
	<string>Sullivan Station - Ruggles Station via Kendall/MIT</string>
</dict>
</plist>
